@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Lato", serif;
  scroll-behavior: smooth;
}

code {
    font-family: "Lato", serif;
  scroll-behavior: smooth;
}

.herobg{
  background-image: url(./assets/images/hero-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.herowalletbg{
  background-image: url(./assets/images/walletbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.explbgimg{
  background-image: url(./assets/images/explorbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.explbgimgmob{
  background-image: url(./assets/images/explorbgmob.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgmoon{
  background-image: url(./assets/images/welbgmoon.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.explframbgimg{
  background-image: url(./assets/images/fram.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 580px;
  width: 980px;
}
.explframbgimgmob{
  background-image: url(./assets/images/fram.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bguserSec{
  background-image: url(./assets/images/userbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg1{
  background-image: url(./assets/images/butbgimg\ \(6\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg2{
  background-image: url(./assets/images/butbgimg\ \(5\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg3{
  background-image: url(./assets/images/butbgimg\ \(4\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg4{
  background-image: url(./assets/images/butbgimg\ \(3\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg5{
  background-image: url(./assets/images/butbgimg\ \(2\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Butcardbg6{
  background-image: url(./assets/images/butbgimg\ \(1\).png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgnonebox{
  background-image: url(./assets/images/nonebox.png);
  background-position: right;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}
.bgnoneboxmob{
  background-image: url(./assets/images/noneboxmob.png);
  background-position: bottom;
  background-size: 100% 53%;
  background-repeat: no-repeat;
}
.bgiwelcome{
  background-image: url(./assets/images/bgwlc.png);
  background-position: right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.welcardbg{
  background-image: url(./assets/images/welcardbg.png);
  background-position: right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgrewardbg{
  background-image: url(./assets/images/rewardbg.png);
  background-position: right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -14rem;
}
.bgrewardbgmob{
  background-image: url(./assets/images/rewardbgmob.png);
  background-position: right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -3rem;
}
.bggiveback{
  background-image: url(./assets/images/givebackbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgFromdeg{
  background-image: url(./assets/images/frombg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mobileDegensBG{
  background-image: url(./assets/images/mobileDegensBG.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgTopMeme{
  background-image: url(./assets/images/topmemebg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgboxsec{
  background-image: url(./assets/images/boxesbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.textStrock{
  -webkit-text-stroke-width: 3.2px; 
  -webkit-text-stroke-color: #000;
}
.textStrockmob{
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: #000;
}
.bessttrok{
  -webkit-text-stroke-width: 3px; 
  -webkit-text-stroke-color: #000;
}
.bessttroksmp{
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: #000;
}
.AlphaSec .swiper {
  position: absolute !important;
  /* height: 720px !important; */
  padding: 2rem 0px !important;
  display: flex !important;
  align-items: center !important;
  width: 1802px !important;
  left: -60% !important;
  z-index: 0 !important;
}
.inputwellat[type="checkbox"] {
  width: 36.647px;
  height: 36.647px;
  background-color: black; 
  border: 2px solid #FFCE00; 
  appearance: none; 
  cursor: pointer;
  position: relative;
}

.inputwellat[type="checkbox"]:checked::after {
  content: ''; 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px; 
  height: 6px;
  border: solid white; 
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.inputwellat[type="checkbox"]:focus {
  outline: 2px solid #FFCE00;
}
.swiper-wrapper{
  display: flex !important;
    align-items: center !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  display: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  display: none !important;

}